<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos Bancarios</title>
    <th:block th:replace="~{/Fragmentos/CssCabecera}"/>
</head>
<body>
<th:block th:replace="~{/Fragmentos/cabeceraRegistro}"/>
    <form action="/RegistroPorPasos/DatosUsuario" method="post" th:object="${usuario}">
        <fieldset>
            <legend>Datos Usuario</legend>
            <!------------------------------------------------------------------>
            <label
                    th:for="nombre"
                    th:text="#{etiqueta_nombre}"
            />
            <input
                    type="text"
                    th:field="*{nombre}"
            />
            <br/>
            <label
                    th:for="clave"
                    th:text="#{etiqueta_clave}"
            />
            <input
                    type="password"
                    th:field="*{clave}"
            />
            <br/>
            <label
                    th:for="confirmarClave"
                    th:text="#{etiqueta_confirmarClave}"
            />
            <input
                    type="password"
                    th:field="*{confirmarClave}"
            />
        </fieldset>
        <input type="submit" value="Grabar información e ir al paso 2 - Datos personales"/>
    </form>
</body>
</html>