<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumen</title>
    <th:block th:replace="~{/Fragmentos/CssCabecera}"/>
</head>
<body>
<th:block th:replace="~{/Fragmentos/cabeceraRegistro}"/>
    <form th:object="${usuario}">
        <fieldset>
            <legend>Datos Usuario</legend>
            <div th:text="#{etiqueta_nombre}+' '+*{nombre}"></div>
            <div th:text="#{etiqueta_clave}+' '+*{clave}"></div>
        </fieldset>
        <fieldset>
            <legend>Datos personales</legend>
            <div th:text="#{etiqueta_tratamiento}+' '+*{tratamiento_deseado}"></div>
            <div th:text="#{etiqueta_apellidos}+' '+*{getApellido}"></div>
            <div th:text="#{etiqueta_fechaNacimiento}+' '+*{fechaNacimiento}"></div>
            <div th:text="#{etiqueta_edad}+' '+*{edad}"></div>
            <div th:text="#{etiqueta_nacionalidades}+' '+*{nacionalidades}"></div>
        </fieldset>
        <fieldset>
            <legend>Datos profesionales</legend>
            <div th:text="#{etiqueta_departamento}+' '+*{departamento}"></div>
            <div th:text="#{etiqueta_salario}+' '+*{salario}"></div>
            <div th:text="#{etiqueta_comentarios}+' '+*{comentarios}"></div>
        </fieldset>

        <a href="VueltaInicio">Volver a la pagina principal</a>
    </form>
</body>
</html>