<div>
    <a
            href="DatosUsuario"
    >
        <img
                th:src="@{/imagenes/numero1.png}"
                alt="Datos usuario"
        />
    </a>
    <a
            href="DatosPersonales"
    >
        <img
                th:src="@{/imagenes/numero2.png}"
                alt="Datos personales"
        />
    </a>
    <a
            href="DatosProfesionales"
    >
        <img
                th:src="@{/imagenes/numero3.png}"
                alt="Datos profesionales"
        />
    </a>
    <a
            href="Resumen"
    >
        <img
                th:src="@{/imagenes/numero4.jpg}"
                alt="Resumen"
        />
    </a>
    <a
            href="/InicioSesion/Usuario"
    >
        <img
                th:src="@{/imagenes/iniciarsesion.png}"
                alt="iniciar sesion"
        />
    </a>
</div>