<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos profesionales</title>
    <th:block th:replace="~{/Fragmentos/CssCabecera}"/>
</head>
<body>
<th:block th:replace="~{/Fragmentos/cabecera}"/>
    <form action="/RegistroPorPasos/DatosProfesionales" method="post" th:object="${usuario}">
        <fieldset>
            <legend>Datos profesionales</legend>
            <!------------------------------------------------------------------>
            <label
                    th:for="departamento"
                    th:text="#{etiqueta_departamento}"
            />
            <select
                    th:field="*{departamento}"
            >
                <option
                        th:each="departamento : ${lista_departamentos}"
                        th:id="${departamento}"
                        th:value="${departamento}"
                        th:text="${departamento}"
                />
            </select>
            <!------------------------------------------------------------------>
            <br/>
            <label
                    th:for="salario"
                    th:text="#{etiqueta_salario}"
            />
            <input
                    type="text"
                    th:field="*{salario}"
            />
            <!------------------------------------------------------------------>
            <br/>
            <label
                    th:for="comentarios"
                    th:text="#{etiqueta_comentarios}"
            />
            <textarea th:field="*{comentarios}">
            </textarea>
            <!------------------------------------------------------------------>
            <br/>
            <input type="submit" value="Grabar información e ir al paso 3 - Datos bancarios">
        </fieldset>
    </form>
</body>
</html>